* {
  margin: 0;
  padding: 0;
}


.index .container{
  position: relative;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: black;
}
.index .container li {
   position: relative;
   list-style: none;
   float: left;
   width:45%;
   margin: 2.2%;
   border: 1px solid gray;
}


.index .container li  img{
  width: 90%;
  height: 100px;
  background-color: gray;
  margin-top: 5%;
}

.index .container li  p{
  text-align: left;
  width: 90%;
  margin-left: 5%;

}
.index .container li  .price{
  text-align: left;
  display: block;
  margin-left: 5%;
  color: red;
  font-weight: bold;
}
.index .container li  .progress{
  margin: 10px auto;
  width: 90%;
}
